<!DOCTYPE html>
<html>
<head>
	<title>Covid-19 India | Detailed</title>
	<link rel="stylesheet" type="text/css" href="extra.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
</head>
<body>
	<h1>Coronavirus District cases in India</h1>
	<p>last updated <%= lastUpdate %>. source: covid19india.org</p>
	<p>Ranked a/c to heighest cases. click on state to view more</p>

	<ol>
	<% core.forEach(x => { %>
			<li>
			<h2><%= x.state %></h2>
			<table>
			<% x.districtData.forEach(d => { %>

				<tr>
					<td><%= d.district %></td>
					<td> <%= d.confirmed %> <span><%= d.delta.confirmed %></span> </td>
				</tr>

			<% }) %>
			</table>
			</li>
	<% }) %>
	</ol>

	<h2>Remember. Caution, not Panic.</h2>

	<p><a href="whatsapp://send?text=A%20very%20simple%20covid%20india%20tracker%20that%20loads%20fast%20on%20slow%20networks%0D%0Ahttps%3A%2F%2Fcovid-india.xyz" class ='fab fa-whatsapp icon'></a>

		<a href="https://twitter.com/share?url=covid-india.xyz&text=A%20very%20simple%20covid%20india%20tracker%20that%20loads%20fast%20on%20slow%20networks" class ='fab fa-twitter icon'></a></p>

	<p>contant: nanirevanth45@gmail.com, donate: revanthkumar@upi</p>
	<p> copyright (c) 2020 by Revanth Kumar. covid-india.xyz (alpha).</p>

	<script src="https://kit.fontawesome.com/79803c7868.js" crossorigin="anonymous"></script>

	<script type="text/javascript">
		$('li').click(function() {
			$(this).find('table').toggleClass('show')
			$(this).find('h2').toggleClass('select')
		})
	</script>
</body>
	
	
</html>