<!DOCTYPE html>
<html>
<head>
	<title>Covid-19 India | LIVE</title>
	<link rel="stylesheet" type="text/css" href="/custom.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/79803c7868.js" crossorigin="anonymous"></script>
</head>
<body>
	<h1>Coronavirus in India <i class ='fas fa-rss'></i></h1>
	<p>last updated <%= lastUpdate %> </p>
	<ul>
		<li><span><%= total[0] %></span> total confirmed cases</li>
		<li><span><%= total[0] - total[1] - total[2] %> </span> currently active cases</li>
		<li><span><%= total[1] %></span> deaths</li>
		<li><span><%= total[2] %></span> recoveries</li>
	</ul>

	<br>
	<h2>Reports Today</h2>
	<p>resets at 11.59PM everyday</p>
	<ul>
		<li><%= total[0] - lastDay[0] %> new cases</li>
		<li><%= total[1] - lastDay[1] %> recoveries</li>
		<li><%= total[2] - lastDay[2] %> deaths</li>
	</ul>

	<br>


	<p> copyright (c) 2020 by Revanth Kumar. covid-india.xyz (alpha).</p>



</body>
</html>